.noto-sans-sc-<uniquifier> {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-sans-tc-<uniquifier> {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-sans-kr-<uniquifier> {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jp {
	font-family: "Noto Sans JP", sans-serif;
}

.en {
	font-family: "Noto Sans", sans-serif;
}

.sc {
	font-family: "Noto Sans SC", sans-serif;
}

.tc {
	font-family: "Noto Sans TC", sans-serif;
}

.kr {
	font-family: "Noto Sans KR", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: #00827A;
}

#title a {
	font-size: 36px;
	color: #FFFFFF;
	font-family: "Noto Sans", sans-serif;
	padding: 0px 30px;
	text-decoration: none;
	font-weight: 800;
	background: #00827A;
}

.topnav {
	background: #00827A;
	min-height: 70px; 
	padding: 0;
	margin: 15px 0 0 0;
	width: 100%;
}

.topnav #mylinks {
	display: none;
}

.topnav #mylinks a, .topnav a.icon {
	color: #fff;
	padding: 14px 30px;
	text-decoration: none;
	font-size: 16px;
	display: block;
	background: #00827A;
	margin: 8px 0 0 0;
}

.topnav a.icon {
	background: #00827A;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.5em;
	margin: 8px 0 0 0;
}

.topnav #mylinks a:hover {
	background: #00F6E4;
	color: black;
}

#container {
	background: #fff;
	min-height: 800px;
	margin: 0;
	padding: 10px 0 0 0;
}

h1 {
	margin: 0 0 0 35px;
	font-size: 30px;
}

h2 {
	margin: 0 35px 0 35px;
	font-size: 16px;
	font-weight: 300;
}

#exp {
	margin: 10px 0 0 0;
}

h2 a {
	color: #000;
}

h2 a:hover {
	color: #00827A;
}

.column3 ul {
	font-size: 12px;
	margin: 0 20px; 
	padding: 20px 0 0 0;
}

.column3 li {
	list-style: none; 
	line-height: 20px;
}

.foot {
	font-size: 12px;
	margin: 0 20px;
	padding: 20px 0 0 0;
}

.foot li {
	list-style: none;
	line-height: 20px;
}

.foot li a {
	color: #00827A;
	text-decoration: none; 
}

.foot li a:hover {
	color: #00514B;
	text-decoration: underline;
}

@media only screen and (min-width: 1050px) {
	.foot {
		list-style-type: none;
	}
	
	.foot li {
		float: left;
		margin: 0 20px;
	}
	
	.foot li a {
		display: block
	}
	
	.column3 {
		width: 20%;
		float: left;
	}
	
	.column4 {
		width: 80%;
		float: right;
		padding: 10px 0 0 0;
	}
}